:root {
  /*   color variables */
  --clr-primary: #304ffe;
  --clr-primary-hover: #29e6a7;
  --clr-primary-dark: #039d69;
  --clr-gray100: #f0f7f8;
  --clr-gray200: #cfd8dc;
  --clr-gray300: #a7b7be;
  --clr-gray400: #6b7e86;
  --clr-gray500: #425a65;

  /*   border radius */
  --radius: 0.2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: var(--clr-primary-hover);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1rem;
  width: 100%;
  margin-bottom: 2rem;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
}

header span {
  font-size: 2rem;
  margin-right: 1rem;

}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 0.3fr));
  gap: 2rem;
  justify-content: center;
  padding: 1rem 1rem 2rem 1rem;
}

.card {
  overflow: hidden;
  border: 1px solid var(--clr-gray200);
  box-shadow: 4px 4px var(--clr-gray200);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: border 200ms ease-in,
    box-shadow 200ms ease-in;
}

.card:hover {
  border: 1px solid var(--clr-primary-dark);
  box-shadow: 8px 8px var(--clr-primary-dark);
}

.image__container {
  position: relative;
}

.card__image {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}

.favorite__btn {
  background-color: rgba(0, 0, 0, 0.493);
  border: none;
  border-radius: 50%;
  font-size: 1.4rem;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  z-index: 100;
  transition: background-color 600ms ease,
    color 600ms ease;
}

.favorite__btn:hover {
  background-color: rgba(255, 255, 255, 0.788);
  color: black;
}

.favorite__btn .fas.fa-heart {
  color: rgba(255, 60, 60, 0.822);

}

.card__title,
.card__details {
  padding: 1rem;
}

.card__location__info {
  padding: 1rem 1rem 0 1rem;
}

.card__location__info h3 {
  font-weight: 300;
}

h3 .fas {
  color: var(--clr-primary-dark);
  margin-right: 0.6rem;
}

.card__description {
  padding: 0 1rem;
}

.card__details p {
  color: var(--clr-gray500);
  font-size: 0.9rem;
}

.card__link {
  text-decoration: none;
  padding: 1rem;
  font-weight: bold;
  color: var(--clr-primary-dark);
}

.card__link::after {
  content: '\f061';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: relative;
  left: 0.5rem;
}

.card:hover .card__link::after {
  animation: arrow 1s ease-in-out infinite alternate;
}

@keyframes arrow {
  0% {
    left: 0.5rem;
  }

  100% {
    left: 1.5rem;
  }
}